footer{
    height: 8rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(142, 172, 202, 1);
    border-radius: 20px 20px 0 0;
        &::before{
            content: "";
            width: 8rem;
            height: 8rem;
            border-radius: 100px;
            background: #8EACCA;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1000;
        }

    ul{
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            list-style: none;
            text-align: center;
            font-size: 1.6rem;
            color: #fff;
            &:hover{
                scale: 1.1;
                transition: 0.4s;
            }
        }
        .from{
            margin-top: 3rem;
            img{
                position: absolute;
                width: 12%;
                top: 10%;
                left: 50%;
                transform: translate(-50%, -50%);
                }
        }
    }
}
a{
    color: #fff;
    text-decoration: none;
}