@use 'sass:color';
@use 'asset' as *;
@use 'extend' as ext;
@use 'footer' as footer;

body{
    @extend %bodyBase;
    background-color: #435262;
}
#contentWrapper{
    margin-top: 8rem;
    text-align: center;
    // &::after{
    //     content: "";
    //     z-index: -1000;
    //     position: absolute;
    //     left:  -8%;
    //     bottom: -50%;
    //     border-radius: 500px;
    //     width: 450px;
    //     height: 200px;
    //     background: $subColor;
    // }


    h1{
        letter-spacing: 0.5rem;
        font-size: 2.4rem;
        color: #fff;
        &::before{
            content: url("..//img/flag.svg");
            margin-right: 2rem;
        }
        span{
            letter-spacing: 1rem;
            font-size: 4rem;
        }
    }
}
.comment{
    @extend %comment;
    margin-top: 7rem;
}
.robo{
    position: relative;
    margin-top: 2rem;
    img{
        width: 100%;
    }
}
