@use "sass:color";
@use "asset" as *;
@use "extend" as ext;
@use "footer" as footer;

body {
    @extend %bodyBase;
    background: url("..//img/bg_blue.png") no-repeat center center;
    background-size: cover;
}
#contentWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 10rem;
    h1 {
        font-size: 2.4rem;
        color: #fff;
        &::before {
            content: url("..//img/flag.svg");
            margin-right: 1rem;
        }
        span {
            font-size: 4rem;
        }
        #text {
            padding: 0 1rem 0 5px;
            font-size: 2.4rem;
        }
    }
}
.comment {
    @extend %comment;
}
.robot {
    img {
        width: 35rem;
    }
}
