@use 'asset' as ast;
@use 'extend';
@use 'footer' as footer;

body{
    @extend %bodyBase;
    background: url(..//img/bg.png) no-repeat center center;
    background-size: cover;
}
.contentWrap{
    margin: 7rem 4rem 0;
    h1{
        font-size: 2.4rem;
        text-align: center;
    }
    ul{
        line-height: 5.6rem;
        margin-left: 2rem;
        font-size: 2.4rem;
    }
    li{
        list-style: none;
        padding-top: 1rem
        }
        i{
            padding-right: 2.5rem;
        }
        a{
            color: ast.$fontColor;
        }
}