@use 'asset' as ast;
@use 'extend';
@use 'footer' as footer;

body{
    @extend %bodyBase;
    background: url(..//img/bg.png) no-repeat center center;
    background-size: cover;
    p{
        font-size: 2.4rem;
    }
}
.contentWrap{
    margin: 12rem 4rem 0;
    line-height: 6rem;
    h1{
        font-size: 2.4rem;
    }
}
.category{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p{
        font-size: 1.4rem;
    }
}
.contentText{
    padding-top: 4.2rem;
    h2{
        margin-top: 1rem;
        font-size: 2.4rem;
    }
}

#chart {
    width: 100%;
    margin-top: 3rem;
    background: ast.$subColor;
    tbody{
        tr{
            padding: 5px;
            th{
                font-size: 2rem;
            }
            td{
                min-height: 5rem;
            }
        }
    }
    }
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: ast.$fontColor
    }
    p{
        @extend %returnBtn;
        &:last-child{
            transform: rotate(90deg);
        }
    }
}