@use "asset" as ast;
@use "extend";
@use "footer" as footer;

body {
    @extend %bodyBase;
    background: url(..//img/bg.png) no-repeat center center;
    background-size: cover;
    p {
        font-size: 2.4rem;
    }
}
.contentWrap {
    margin: 12rem 4rem 0;
    line-height: 6rem;
    h1 {
        font-size: 2.4rem;
    }
}
.category {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p {
        font-size: 1.4rem;
    }
}
.contentText {
    padding-top: 2.5rem;
    h2 {
        margin-top: 1rem;
        font-size: 2.4rem;
    }
}

#chart {
    margin-top: 3rem;
    padding: 2rem;
    background: ast.$subColor;
    tbody {
        width: 90%;
        margin: 0 auto;
        tr {
            padding: 5px;
            th {
                gap: 1rem;
                font-size: 2rem;
            }
            td {
                min-height: 5rem;
            }
        }
    }
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: ast.$fontColor;
    }
    p {
        @extend %returnBtn;
        &:last-child {
            transform: rotate(90deg);
        }
    }
}
