footer
    ul 
        li
            a(href="index.html") 
                img(src="img/home.svg", alt="ホーム")
                p ホーム
        li.from 
            a(href="form.html") 
                img(src="img/dekita.svg", alt="登録")
                p できた！
        li 
            a(href="logu.html") 
                img(src="img/logu.svg", alt="記録")
                p 記録
