doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ログ
        link(rel="stylesheet", href="css/comp.css")
    body
        #contentWrapper
            h2.comment
                .typingEffect 今日もできてえらい！
            .robot
                img(src="img/robotImg/jump.gif", alt="")

        h3.return
            a(href="index.html") ホームに戻る
        include _footer.pug


