doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ログ
        link(rel="stylesheet", href="css/index.css")
    body
        #contentWrapper
            h1 週<span>3</span>回料理する
            .robo
                h2 今日もおつかれさま
                img(src="img/robo.png", alt="")

        include _footer.pug


