doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ログ
        link(rel="stylesheet", href="css/index.css")
    body
        #contentWrapper
            h1 週 
                span(id="displayNum") 
                span(id="text") 回
                span(id="displayText")            
            
            h2.comment 
                .typingEffect 今日もおつかれさま
            .robot
                img(src="img/robotImg/wavebands.gif", alt="")

        include _footer.pug
        script(src="js/output.js")



