doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ログ_登録
        link(rel="stylesheet", href="css/logu.css")
    body
        .contentWrap 
            h1 今までのできた！ 
            ul
                li 
                    a(href="study.html") 勉強
                li ダイエット
                li 運動
                li ストレッチ
                li 早寝早起き
                li 貯金


        include _footer.pug


