doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ログ_登録
        link(rel="stylesheet", href="css/logu.css")
    body
        .contentWrap 
            h1 今までのできた！ 
            ul
                li 
                    i.fa-solid.fa-pen
                    a(href="study.html") 勉強
                li 
                    i.fa-solid.fa-person-harassing
                    a(href="#") ダイエット
                li 
                    i.fa-solid.fa-person-running
                    a(href="#") 運動
                li 
                    i.fa-solid.fa-mountain-sun
                    a(href="#") 早寝早起き
                li 
                    i.fa-solid.fa-piggy-bank
                    a(href="#") 貯金
                li 
                    i.fa-solid.fa-book
                    a(href="#") 読書
                li 
                    i.fa-solid.fa-utensils
                    a(href="#") 料理

        include _footer.pug


