doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ログ_登録
        link(rel="stylesheet", href="css/study.css")
    body
        .contentWrap 
            .btn
                p 
                    a(href="study.html") <i class="fa-solid fa-chevron-up"></i>
                p 
                    a(href="log.html") <i class="fa-solid fa-chevron-up"></i>

            .category 
                h1 勉強
                p できた!の数:20
            
            .contentText 
                h2 5月16日
                p 数1の終わらせた
                h2 5月17日
                p 英語の翻訳した

        include _footer.pug


