doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ノート_登録
        link(rel="stylesheet", href="css/study.css")
    body
        .contentWrap 
            .btn
                p 
                    a(href="log.html") <i class="fa-solid fa-chevron-up"></i>
                p 
                    a(href="studyText.html") <i class="fa-solid fa-chevron-up"></i>
            .category 
                h1 勉強
                p できた!の数:20


            #chart
                table.charts-css.bar.show-labels
                    caption Single Dataset Table
                        thead
                            tr
                            th(scope="col") Month
                            th(scope="col") Progress
                        tbody
                            tr
                                th(scope="row") 1月
                                td(style="--size:calc(3 / 31)") 
                                    span.data 3
                            tr
                                th(scope="row") 2月
                                td(style="--size:calc(4 / 31)") 
                                    span.data 4
                            tr
                                th(scope="row") 3月
                                td(style="--size:calc(9 / 31)") 
                                    span.data 9
                            tr
                                th(scope="row") 4月
                                td(style="--size:calc(13 / 31)") 
                                    span.data 13
                            tr
                                th(scope="row") 5月
                                td(style="--size:calc(2 / 31)") 
                                    span.data 2
                            tr
                                th(scope="row") 6月
                                td(style="--size:calc(5 / 31)") 
                                    span.data 5
                    
        include _footer.pug


