doctype html
html(lang="ja")
    head
        include _head.pug 
        title できた！ノート_目標
        link(rel="stylesheet", href="css/form.css")
    body
        .contentTtl 
            h1 目標を決めよう！
            h2 今週は何をがんばる？
            p 一言で簡単に書いてみよう
            input(type="text")
            p カテゴリーを選ぼう
            select#category(list="list",name="category") 
                option(value="study") 勉強 
                option(value="study") 運動 
                option(value="study") 料理 

            h2.num 1週間で何回する？
            input(type="number" max="6" min="1" value="3")



        button 今週もがんばろう

        include _footer.pug


